@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  margin: 20px auto;
}

body {
  background: #3B3B98;
}

.wrapper {
  width: 600px;
  height: 400px;
  margin-top: 80px;
  position: relative;
  box-shadow: 1px 2px 10px #2f3542;
  background: linear-gradient(to right, #dfe6e9 50%, #fff 50%);
}

.button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: 70%;
}
.button--checkbox {
  display: none;
}
.button__cta .card__button {
  border: 1px solid #57606f;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
  color: #5352ed;
  font-weight: 500;
  transition: all .4s ease;
}
.button__cta .card__button:hover {
  background: #5352ed;
  color: white;
}
.button--checkbox:checked ~ .card {
  left: 240px;
}
.button--checkbox:checked ~ .card input[type=text] {
  margin-top: -80px;
  visibility: none;
}
.button--checkbox:checked ~ .card .btn .btn__signup {
  transform: translateY(-200%);
}
.button--checkbox:checked ~ .card .btn .btn__login {
  top: 0;
}

.card {
  display: grid;
  height: 420px;
  width: 300px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  background: white;
  overflow: hidden;
  position: relative;
  top: -420px;
  left: 50px;
  transition: all .3s ease;
}
.card input {
  display: block;
  outline: none;
  border: none;
  margin-top: 10px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  transition: all .4s ease;
}
.card input::placeholder {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.card .btn {
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #2ecc71, #27ae60);
  position: absolute;
  cursor: pointer;
  color: white;
  bottom: 10px;
  left: 30px;
  font-size: 18px;
  overflow: hidden;
  font-weight: 300;
}
.card .btn > * {
  display: inline-block;
  width: 220px;
  transition: all .3s;
}
.card .btn__signup {
  padding: 1px 0;
}
.card .btn__login {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1px 0;
}
.card .btn:hover {
  background: linear-gradient(to right, #2fcf73, #2ecd71);
}
